/* ===============================
   Author: Russell Snyder
   Date:   March 9, 2015
   
   Notes:
   
   Wolfgang is a great person and wonderful friend.
   An extrodinary artist.  I am proud to be his friend.
   
   =============================== */

/* General */

body {
	background: #fbfbfb;
	color: black;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 15px;
	font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 30px 24px;
}

#logo{
margin-bottom: -50px;
}

#logo a{
	text-decoration: none;
}

#logo h1:hover {
	size: 50px;
}

#logo:hover em {
    color: #95720f;   
}

/* Typography */

h1, h2 {
	font-family: 'baskerville';
	color: black;
	font-size: 40px;
	font-weight: normal;
	line-height: 44px;
	margin: 0;
}

h1 {
	text-align: left;
	padding: 0 0 0px;
}

h1 em {
	color: #4b2707;
	font-style: normal;
}

h2 {
	font-size: 25px;
	color: grey;
}

h3 {
	margin: 0;
}

p.lead {
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	margin: 10px 0;
}

p {
}

a {
	text-decoration: none;
}
a:link {
	color: black;
	text-decoration: none;
	font-size: 110%;
}

a:visited {
	color: black;
}

a:hover {
	color: grey;
	text-decoration: underline;
}
/*
hr {
	border: none;
	height: 33px;
	width: 333px;
	margin: 30px auto;
	background: url('../images/divider.png') center center no-repeat;
}
*/
/* Header */

header nav {
	text-align: left;
	font-size: 20px;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	line-height: 20px;
	
}

header nav ul li {
	display: inline-block;
	padding-right: 12px;
	font-family: 'baskerville';

}

header nav ul li a:hover {
	color: grey;
	padding-top: 20px;
}

header nav ul li a {
	text-decoration: none;
}

header hr{
	margin-top: -1px
}

.main {
	margin-bottom:  10px;
	text-decoration: underline;

}

header ul{
	float: left;
}

header hr {
	clear: both;
}

#langChoose ul {
	float: right;
	
}

#langChoose b{
	font-weight: 200;
	color: #95720f;     	
}


/* about */

/* words */

/* bio */
 .section {
	 margin-left: 10px;
	 padding-bottom: 20px;
	 
	 padding-bottom: 0px;

 }
 
 .section h2 {
	 text-decoration: overline;

	color: grey;

	 
	 margin-bottom: 0px;
	 padding-bottom: 0px;
 }
 
 .article {
 	display: flex;
 	align-items: center;
 	display: -webkit-flex;
 	-webkit-align-items: center;
	 display: -moz-box;
	-moz-box-align: center;
 	
 	margin-bottom: 5px;
 	
 }
 
 	/* dates */
.article h4 {
	font-size: 15px;
	font-weight: 300;
	color: grey;
	
	margin-left: 15px;

	display: inline-block;
	
	width: 120px;
	padding-right: auto;	
	padding-bottom: auto;	

}

 .article p {
	display: inline-block;
	
	padding-left: 15px;
	

	-moz-box-align: center;
 	-webkit-align-items: center;
 	
	width: 750px;

	padding-bottom: 0px;
	padding-right: 0px;
 }
 
  .article ul {
	display: inline-block;
	
	list-style: none;
	
	padding-left: 15px;
	

	-moz-box-align: center;
 	-webkit-align-items: center;
 	
	width: 750px;

	padding-bottom: 0px;
	padding-right: 0px;

	  
  }
  
  li.show, li.theatre, li.director {
	  font-weight: 500;
  }
  
  li.show {
	  color: #450507;
  }
  
  li.director {
	  color: #454208;
  }

/* blog */

.blogWindow {
	width: 960px;
	height: 700px;
    margin: 0;
    position: relative;
}

#blogContent {
   position: absolute;
    z-index: 1;
    left: 0;
    top: 0;


	width: 960px;
	height: 700px;

	
	outline-style: solid;
	outline-width: thick;
	outline-color: #fbfbfb;
	outline-offset: -1px;
	
		
}




/* Works */

.works {
	line-height: 15px;
}


iframe{
	border: 1px solid #2c1c03;
}


.work{
	width: 305px;
	margin-right: 6px;
	margin-left: 6px;
	margin-bottom: 20px;
	display: inline-block;
	text-align: center;
}

.works p{
	margin: 0px;
	margin-bottom: 3px;
	padding-top: -10px;
	line-height: 15px;
}


/* individual works */

.individualwork{
	padding: 15px;
}

.individualwork h1{
	text-align: center;
}


.individualwork hr{
	margin: auto;
	width:500px;
	color: grey;
}

.individualwork p{
	line-height: 20px;
	text-indent: 40px;
	}

.individualwork h2{
	margin-top: 75px;
	margin-left: 10px;
	font-weight: 300;
	}

.individualwork .vis1 {
	float: left;
	margin: 20px;
}

.individualwork .vis2 {
	float:right;
	margin-right: 100px;
}



/* contact */

#email {
	float: right;
	margin-right: 35%;
	margin-top: 3%;
}

#email b{
	font-size: 150%;
}
form {
	  font-family : inherit;
  font-size   : 100%;
}

form br {
	line-height: 50%;
}

input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

.contactform {
	margin-left: 100px;
	margin-right: auto;
	
	 font-family : inherit;
  font-size   : 100%;
}

.contactform tr td{
	margin-left: 30px;
}

.contactform td{

}

.contactform tr{
	font-size: 20px;
}

#contact-form p{
margin-bottom: 0px;
padding-bottom: 0px;
	}
	
#submit{
}

.error h2{
	color: orange;
	
	text-overflow: clip;
	
	background-color: rgba(117, 15, 15, 0.83);
	background-clip: content-box;
}

/* Footer */

footer nav {
	text-align: center;
	font-size: 15px;
}

footer nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	line-height: 20px;
}

footer nav ul li {
	display: inline-block;
	padding-right: 15px;
}

footer nav ul li a:hover {
	text-decoration: underline;
	padding-top: 20px;
}

footer nav ul li a {
	text-decoration: none;
	color: grey;
}

footer hr{
	margin-top: -1px
}

footer.main {
	text-decoration: none;
}



footer.main a:hover {
	color: grey;
}

#copyright {
	text-align: center;
	margin-top: 30px;
	font-size: 13;
	font-weight: 100;
}

#copyright p{
	margin: 0;
}

#russellwebsite {
	text-shadow: 4px 6px 6px #e68713;
	font-weight: 200;
	
}


#credits {
	background: url('../images/icon-apple.png') center left no-repeat;
	float: right;
	margin-top: 9px;
}

/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





